.categoryposts .added button,
.categoryposts .added a
{
    float: right;
    margin-right: 2px;
}

.categoryposts .added {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    width: 60%;
}

.categoryposts .added li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    min-height: 18px;
    cursor: ns-resize;
}

.categoryposts .added li span {
    position: absolute;
    margin-left: -1.3em;
}

.categoryposts .list {
    float: left;
}

/** multiple dropdown menu **/
.categoryposts .dropdown-menu {
    float: left;
    margin: 0 5px 5px 0;
}

.categoryposts .dropdown-menu.multi .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.categoryposts .dropdown-menu.multi li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.categoryposts .dropdown-menu.multi .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.categoryposts .dropdown-menu.multi .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    top: 11px;
    left: -6px;
}

.categoryposts .dropdown-menu.multi i {
    display: block;
    float: right;
}
